name: Deploy Lambda Function
"on":
    push:
        branches:
            - main
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Set up Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: 18

            - name: Install dependencies
              run: npm install

            - name: Test functions
              run: npm test
    build_deploy:
        runs-on: ubuntu-latest
        needs: test
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Set up Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: 18

            - name: Install dependencies
              run: npm install

            - name: Compile TypeScript
              run: npm run build

            - name: Zip files
              run: cd dist && zip -r validate-customer.zip .
            - name: Deploy to AWS
              uses: appleboy/lambda-action@master
              with:
                  aws_access_key_id: "${{ secrets.AWS_ACCESS_KEY_ID }}"
                  aws_secret_access_key: "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
                  aws_region: "${{ secrets.AWS_REGION }}"
                  function_name: validate-customer
                  zip_file: dist/validate-customer.zip
            - name: Clean up
              run: npm ci
